/* .example-container {
  width: 500px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);
} */

/* .example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
} */

/* .example-sidenav {
  padding: 20px;
}

.mat-drawer-shown {
  visibility: hidden! important;
  } */

  .mat-drawer-transition .mat-drawer-content {
    overflow: hidden!important;
  }
  .mat-drawer-inner-container {
    overflow: hidden!important;

  }

  .mat-drawer-content {
    overflow: hidden!important;
  }
.example-container{
    display: flex;
    overflow: hidden!important;



  }

  .BtnDiv button{
    border: 1px solid black;
    width: 80px;
    height: 35px;
    border: 1px solid black;
    background-color: white;
    border-radius: 20px;
  }

  .mat-drawer{
    width: 550px;
    height: 550px;
    padding: 30px 50px ;
  }
